<div class="title-item" (mouseenter)="playVideo()" (mouseleave)="stopVideo()">
    <video #trailer src="assets/videos/capitao_america_o_primeiro_vingador_trailer__360p.mp4" controls muted="muted"></video>
    <img src="assets/images/capitao-america-o-primeiro-vingador.jpg" alt="Título">
    <div class="items">
        <div class="left-side">
            <button type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
            <button style="position: absolute; right: 10px; top: 10px;" type="button" class="btn-play" (click)="toggleSound()">
                <i class="material-icons" *ngIf="getMuted()">volume_off</i>
                <i class="material-icons" *ngIf="!getMuted()">volume_up</i>
            </button>
            <h2>Capitão américa: O primeiro vingador</h2>
            <ul class="infos">
                <li class="relevance">98% relevante</li>
                <li class="age age-12"></li>
                <li class="parts">2 partes</li>
            </ul>
            <ul class="categories">
                <li>Filme de herói</li>
                <li>Drama</li>
                <li>Ação</li>
            </ul>
        </div>
    </div>
</div>