<div class="title-item" (mouseenter)="playVideo()" (mouseleave)="stopVideo()">
    <video #trailer src="assets/videos/IronMan2.mp4" controls muted="muted"></video>
    <img src="assets/images/homem-de-ferro-2.jpg" alt="Título">
    <div class="items">
        <div class="left-side">
            <button type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
            <button style="position: absolute; right: 10px; top: 10px;" type="button" class="btn-play" (click)="toggleSound()">
                <i class="material-icons" *ngIf="getMuted()">volume_off</i>
                <i class="material-icons" *ngIf="!getMuted()">volume_up</i>
            </button>
            <h2>Homem-de-ferro 2</h2>
            <ul class="infos">
                <li class="relevance">100% relevante</li>
                <li class="age age-12"></li>
                <li class="parts">3 partes</li>
            </ul>
            <ul class="categories">
                <li>Filme de herói</li>
                <li>Filme de fantasia</li>
                <li>Ação</li>
            </ul>
        </div>
    </div>
</div>